<h1>Новая фоточка</h1>
----

<img src="<%= @event.photos(@new_photo) %>" alt="new photo">


----------------------

<h3>Событие: <%= @event.title %></h3>
<h4>Состоится: <%= l @event.datetime %></h4>
<h4>Организатор: <%= @event.user.name %></h4>