<h1>Новая фоточка</h1>
----

<img src="<%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, data: {
    toggle: 'lightbox', title: image_title, gallery: 'event-photos'
} %>" alt="new photo">


----------------------

<h3>Событие: <%= @event.title %></h3>
<h4>Состоится: <%= l @event.datetime %></h4>
<h4>Организатор: <%= @event.user.name %></h4>